@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins";
}

.product-container123-xyz {
  transform: scale(1); /* Adjust the scale factor as needed */
  transform-origin: center top; /* or any specific font size you want */
  font-size: large;
}

.li-bc-xyz {
  font-size: 200px;
}

li {
  font-size: large;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.bubble-xyz {
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  height: 5rem;
  width: 5rem;
  background-color: #E97171;
  border-radius: 50%;
  left: 75%;
  top: 5%;
}

.new-xyz {
  background-color: #2EC1AC;
}

.prod-header-xyz {
  background-color: #F9F1E7;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 3rem;
}

.product-card-one-xyz {
  display: flex;
  margin-top: 2.5rem;
  padding: 0;
}

.product-image-show-xyz {
  padding: 0 4rem 1rem 0;
}

.product-desc-xyz {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.product-desc-xyz * {
  margin: 0;
}

.product-desc-xyz p:nth-child(2) {
  font-size: 1.25rem;
}

.product-desc-xyz p:nth-child(4) {
  font-size: 0.9rem;
}

.size-buttons-xyz {
  display: flex;
  gap: 0.5rem;
}

.size-buttons-xyz button {
  background-color: #F9F1E7;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.size-buttons-xyz button:nth-child(1) {
  padding: 0.5rem 0.75rem;
}

.side-images-xyz {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.color-buttons-xyz {
  display: flex;
  gap: 0.25rem;
}

.color-buttons-xyz button {
  border: 0;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.product-image-show-xyz {
  display: flex;
}

.prod-des-details-xyz {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  padding: 1.25rem 0 3rem 0;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.config-buttons-xyz {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.config-buttons-xyz button {
  border: 0;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 1rem;
}

.config-buttons-xyz button:nth-child(1) {
  border: 1px solid #9F9F9F;
  border-radius: 0.8rem;
}

.prod-info-xyz {
  color: #9F9F9F;
  padding: 0 4.5rem;
}

.prod-info-xyz div {
  margin-bottom: 1.5rem;
}

.product-extra-info-xyz {
  padding: 2rem 5rem;
}

.prod-info-headings-xyz {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.prod-info-images-xyz {
  display: flex;
  gap: 1rem;
}

.related-products-xyz {
  display: flex;
  gap: 1.25rem;
  width: fit-content;
  flex-wrap: wrap;
  margin: auto;
}

.related-products-container-xyz {
  padding: 1.5rem 3rem;
}

.related-product-heading-xyz {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.r-prod-card-xyz {
  position: relative;
}

.r-prod-desc-xyz {
  background-color: #F4F5F7;
  color: #3A3A3A;
  padding: 0.5rem 0.75rem;
}

.r-prod-desc-xyz ul li {
  margin-bottom: 0.5rem;
}

.r-prod-desc-xyz li:nth-child(1) {
  font-size: 1.25rem;
  font-weight: 600;
}

.r-prod-desc-xyz li:nth-child(2) {
  color: #898989;
  font-size: 0.9rem;
  font-weight: 500;
}

.r-prod-desc-xyz li:nth-child(3) {
  font: 1.25rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.r-prod-desc-xyz li span {
  color: #B0B0B0;
  font-weight: 400;
  text-decoration: line-through;
}

.r-button-xyz {
  text-align: center;
  margin-top: 0.75rem;
}

.r-button-xyz button {
  background-color: transparent;
  color: #B88E2F;
  border: 1px solid #B88E2F;
  font-weight: 600;
  padding: 0.5rem 3rem;
}


.image-active-xyz {
  /* border: 2px solid black; */
  height: 45rem;
  width: 40rem;
  margin-left: 2rem;
  display: flex; 
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

.image-active-xyz img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  display: block; 
  border-radius: 10px;
}
